body {
    font-family: sans-serif;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}
 .dhee{
                max-width: 900px;
                margin: 0 auto;
                color: #7373f9;
                font-family: sans-serifs;
                padding-top: 50px;
                padding-left: 20;
                padding-right: 20;
            }
